.bar {
  position: relative;
  height: 1.5em;
  min-height: 1.5em;
  width: 100%;
  border: 1px solid hsl(var(--clr-neutral-300));
  border-radius: 3px;
  overflow: hidden;
}

.bar__progress {
  position: absolute;
  inset: 0;
  transform: scaleX(var(--progress));
  transform-origin: var(--origin);
  background-color: var(--fill);
  transition: transform 0.1s linear;
  overflow: hidden;
}

.bar__progress::after {
  content: "";
  position: absolute;
  pointer-events: none;
  width: 40%;
  top: 0;
  bottom: 0;
  animation: glint 2.5s linear infinite;
  visibility: var(--state);
  background-image: linear-gradient(
    90deg,
    transparent 0%,
    rgba(255, 255, 255, 0.1) 20%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.1) 80%,
    transparent 100%
  );
}

.bar__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
  font-size: 0.95rem;
  text-align: center;
  z-index: 1;
}

@keyframes glint {
  from {
    left: -100%;
  }

  to {
    left: 100%;
  }
}
