.timeline {
  grid-area: timeline;
  display: grid;
  grid-template-columns: subgrid;
  padding: 0;
}

.timeline__info {
  padding: 0.5em;
  border-right: 1px solid hsl(var(--clr-neutral-200));
}

.timeline__timecode {
  font-size: 2rem;
  font-weight: 350;
  color: hsl(var(--clr-primary-900));
  text-align: right;
  font-family: var(--font-monospace);
}

.timeline__controls {
  border-left: 1px solid hsl(var(--clr-neutral-200));
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5em 1em;
}

.timeline__container {
  width: 100%;
  padding-top: var(--timeline-scrubber-height);

  --cursor-playhead-width: 32px;
  --cursor-trimhead-width: 18px;
  --timeline-scrubber-height: 32px;
  --timeline-bar-height: 2.5em;
}

.timeline__scrollbar {
  position: absolute;
  top: calc(-1 * var(--timeline-scrubber-height));
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  z-index: 1;
}

.timeline__cursor {
  top: 0;
  bottom: 0;
  position: absolute;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  z-index: 2;
}

.timeline__cursor:active {
  cursor: w-resize;
}

.timeline__playhead {
  width: var(--cursor-playhead-width);
  height: var(--timeline-scrubber-height);
  transform: translateX(-50%);
}

.timeline__playhead::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: hsl(var(--clr-primary-600));
  clip-path: polygon(50% 100%, 0 0, 100% 0);
}

.timeline__playhead::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translate(50%, 100%);
  height: var(--timeline-bar-height);
  width: 1px;
  background-color: hsl(var(--clr-primary-600));
}

.timeline__bar {
  width: calc(100% - var(--cursor-playhead-width) - var(--cursor-trimhead-width));
  height: var(--timeline-bar-height);
  background-color: hsl(var(--clr-neutral-200));
  margin: 0 auto;
  position: relative;
}

.timeline__trimhead {
  background-color: hsl(var(--clr-primary-500));
  width: var(--cursor-trimhead-width);
  border-radius: 8px;
}

.timeline__trimhead::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 70%;
  background-image: repeating-linear-gradient(90deg, transparent 0px 3px, hsl(var(--clr-primary-700)) 3px 4px, transparent 50%);
}

.timeline__trim_start {
  transform: translateX(-100%);
  left: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.timeline__trim_end {
  left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
