.player {
  padding: 0;
}

.player__container {
  flex-grow: 1;
  background-color: rgb(12, 12, 12);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.player__video {
  max-width: 100%;
  max-height: 100%;
  flex-grow: 1;
}

.player__btns {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(5, 1fr);
  margin: 0 auto;
  padding: 0.2em;
  gap: 0.15em;
}

.player__btn {
  background-color: transparent;
  padding: 0.2em 0.5em;
  color: hsl(var(--clr-neutral-800));
}

.player__btn:hover {
  background-color: hsl(var(--clr-neutral-300));
}
