.export {
  padding: 1em;
  background-color: hsl(var(--clr-neutral-100));
  border: 1px solid hsl(var(--clr-neutral-200));
  box-shadow: 0 0 2em 0.5em rgba(0, 0, 0, 0.5);
  border-radius: 0.25em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.75em;
  height: 100%;
  width: 100%;
  max-width: 400px;
  max-height: 450px;
}

.export__info {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.export__lastAttempts {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
  width: 100%;
  scrollbar-width: thin;
}

.export__lastAttemptItem {
  color: hsl(var(--clr-neutral-800));
  border-bottom: 1px dashed hsl(var(--clr-neutral-200));
  padding-bottom: 0.25em;
  padding-left: 1em;
  margin-bottom: 0.25em;
  text-align: left;
  font-size: 0.8rem;
}

.export__lastAttemptItem p:first-child {
  margin-left: -1em;
}

.export__btns {
  margin-top: auto;
  display: flex;
  justify-content: flex-end;
  gap: 0.25em;
  width: 100%;
}

.export_btn {
  font-size: 0.9rem;
  padding: 0.3em 0.5em;
  border: 1px solid hsl(var(--clr-neutral-300));
  background-color: hsl(var(--clr-neutral-200));
  border-radius: 0;
  border-radius: 2px;
}

.export_btn:hover {
  background-color: hsl(var(--clr-neutral-300));
}

.export_btn:last-child {
  margin-left: auto;
}
